.bg-container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
}
.mode-container {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #000000;
}
.mode-button {
  padding: 10px;
  font-family: 'Roboto';
  cursor: pointer;
  outline: none;
}
.dark-mode {
  background-color: #000000;
  color: #ffffff;
}
.light-mode {
  background-color: #ffffff;
  color: #000000;
}
